@import './reset.scss';
@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  transition: var(--default-transition);
  color: inherit;
}

.v-application.v-theme--light {
  background: transparent;
}

@media (hover: hover) {
  a:hover {
    opacity: .7;
  }
}

@media (min-width: 1024px) {
  // body {
  //   display: flex;
  //   place-items: center;
  // }

  // #app {
  //   display: grid;
  //   padding: 0 2rem;
  // }
}