table {
  padding: 20px 0;
  width: max-content;
  border: 1px solid transparent;
  background-color: transparent;
  position: relative;
  margin-inline: auto;

  td,
  th {
    font-weight: 600;
    border: 1px solid #000;
    background-color: rgba($color: #fff, $alpha: 0.7);
    padding: 10px;

    &:not(:first-child) {
      width: 100px;
      text-align: center;
    }

    &.td-point {
      cursor: pointer;
      transition: var(--default-transition);

      &:hover {
        background-color: rgba($color: #fff, $alpha: 0.7);
      }
    }

    //status
    &.default {
      background-color: rgba($color: #fff, $alpha: 0.2);
    }

    &.equipped {
      background-color: var(--color-loot);
    }

    &.crafted {
      background-color: var(--color-craft);
    }

    &.noexist {
      background-color: transparent;
      border-color: rgba(#000, 0.2);
      pointer-events: none;
    }
  }

  th {
    background-color: rgba($color: #fff, $alpha: 1);
    &.header-sticky {
      position: sticky;
      top: 0;
    }
  }
}
